n8n-Workflow. json
{
  "nodes": [
    {
      "parameters": {
        "cronExpression": "*/5 * * * *"
      },
      "name": "Check Every 5 Min",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://example.com",
        "responseFormat": "json",
        "options": {}
      },
      "name": "Check Website Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json[\"statusCode\"]}}",
              "operation": "notEqual",
              "value2": 200
            }
          ]
        }
      },
      "name": "Is Website Down?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "from": "+1234567890",
        "to": "+1987654321",
        "message": "🚨 Website is DOWN: https://example.com"
      },
      "name": "Send SMS via Twilio",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [850, 300],
      "credentials": {
        "twilioApi": {
          "id": "1",
          "name": "Twilio API"
        }
      }
    }
  ],
  "connections": {
    "Check Every 5 Min": {
      "main": [
        [
          {
            "node": "Check Website Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Website Status": {
      "main": [
        [
          {
            "node": "Is Website Down?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Website Down?": {
      "main": [
        null,
        [
          {
            "node": "Send SMS via Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "name": "Website Uptime Monitor"
}
